.btn-primary{

    background-color: #321e7a;
    color: #ffffff;
    border-color: #321e7a;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #1a103d;
    border-color: #1a103d;
}
