button {
    background: #321e7a;
    margin-right: 50px;
}
button:hover,
button:focus {
    background-color: #1a103d;
    border-color: #1a103d;
}
.details{
    margin-top: 20px;
    margin-bottom: 40px;
}