<header>
  <nav class="navbar">
      <div class="container">
          <a routerLink="home" class="brand"><i class="bi bi-bag-heart-fill"></i>SR</a>
        
          <a routerLink="product-list" class="nav-link"> PRODUCTS</a>
          
          <form action="" class="search-form">
              <input type="text" placeholder="Search..." class="search-input">
              <button type="submit" (click)="onSubmit()" class="search-button">Search</button>
          </form>
          <a routerLink="shopping-cart" class="nav-link"><i class="bi bi-cart-check"></i></a>
      </div>
  </nav>
</header>