<footer class="bg-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <h3><i class="bi bi-bag-heart-fill" routerLink="home"></i>SR</h3>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://www.facebook.com/login/"><i class="fab fa-facebook-square"></i></a></li>
                    <li class="list-inline-item"><a href="https://x.com/twitt_login?lang=en"><i class="fab fa-twitter-square"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/accounts/login"><i class="fab fa-instagram-square"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/login"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div><br>

            <div class="col-md-4">
                <p class="text-center mb-0">Short statement about your brand or &copy; {{ currentYear }}.</p>
            </div>
            
        </div>
    </div>
</footer>

